body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App h1 {
  color: pink;
  display: flex;
  background: black;
  justify-content: center;
  padding: 60px;
  margin: 1px;
  margin-top: 40px;
  font-size: 40px;
  width: 100%;
}

.parrafo {
  width: 100%;
  height: 400px;
  padding: 20px;
  align-content: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-style: verdana;
}
